<ion-header>
  <ion-toolbar>
    <ion-title>Danos tu opinión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="form-container">
      <form [formGroup]="satisfactionForm">
        <div class="login-form">
          <div>
            <ion-label
              >¿Cuál es tu grado de satisfacción con nuestros servicios de
              marketing digital?</ion-label
            >
            <ion-range
              aria-label="Range with ticks"
              [ticks]="true"
              [snaps]="true"
              [min]="0"
              [max]="5"
              [pin]="true"
              formControlName="serviceSatisfaction"
            ></ion-range>
          </div>

          <div>
            <ion-label
              >¿Hemos cumplido tus expectativas en cuanto a
              resultados?</ion-label
            >
            <ion-textarea
              label="Regular textarea"
              placeholder="Escribe aquí tu opinión"
              formControlName="expectatives"
            ></ion-textarea>
            <span *ngIf="satisfactionForm.controls['expectatives'].invalid && (satisfactionForm.controls['expectatives'].dirty || satisfactionForm.controls['expectatives'].touched)" class="error-message">Introduce al menos 10 caracteres</span>
          </div>

          <div>
            <ion-label
              >¿Cómo calificarías la calidad de nuestro servicio al
              cliente?</ion-label
            >
            <ion-range
              aria-label="Range with ticks"
              [ticks]="true"
              [snaps]="true"
              [min]="0"
              [max]="5"
              [pin]="true"
              formControlName="clientService"
            ></ion-range>
          </div>

          <div>
            <ion-label
              >¿Recomendarías nuestros servicios de marketing digital a
              otros?</ion-label
            >
            <div class="checkbox-wrapper">
              <ion-radio-group formControlName="recommendation">
                <div class="radio-container">
                  <ion-label>Sí</ion-label>
                  <ion-radio value="yes"></ion-radio>
                </div>
                <div class="radio-container">
                  <ion-label>No</ion-label>
                  <ion-radio value="no"></ion-radio>
                </div>
                <div class="radio-container">
                  <ion-label>No lo se</ion-label>
                  <ion-radio value="dunno"></ion-radio>
                </div>
              </ion-radio-group>
            </div>
          </div>

          <div>
            <ion-label
              >¿Cuál ha sido tu experiencia general con nuestra
              empresa?</ion-label
            >
            <ion-textarea
              label="Regular textarea"
              placeholder="Escribe aquí tu opinión"
              formControlName="overallExperience"
            ></ion-textarea>
            <span *ngIf="satisfactionForm.controls['overallExperience'].invalid && (satisfactionForm.controls['overallExperience'].dirty || satisfactionForm.controls['overallExperience'].touched)" class="error-message">Introduce al menos 10 caracteres</span>
          </div>

          <div class="input-wrapper">
            <ion-button class="submit-content" shape="round" type="submit"
              >ENVIAR</ion-button
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
