.container {
  --background: #fafafa;
  font-size: 0.85rem;
  font-family: "Dosis";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  .form-container {
    width: 90%;

    .error-message {
      font-size: 0.85rem;
      color: #FF3823;
      margin-bottom: 1rem;
    }

    ion-textarea {
      height: 2rem;
      font-size: 0.85rem;
      font-family: "Dosis";
    }

    .submit-content {
      width: 100%;
    }

    ion-range {
      --knob-size: 1rem;
      margin-bottom: 1rem;
    }

    .checkbox-wrapper {
      color: #3a3a3a;

      .radio-container {
        display: flex;
        align-items: center;
      }

      ion-radio-group {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: #3a3a3a;
        ion-radio {
          margin: 1rem;
          --border-radius: 4px;
          --inner-border-radius: 4px;
          --color-checked: #3880FF;
          --color: #ddd;
        }

        ion-radio.ios::part(container) {
            width: 20px;
            height: 20px;
          
            border: 2px solid #ddd;
            border-radius: 4px;
          }

          .radio-checked.ios::part(container) {
            border-color: #3880FF;
          }
      }
    }
  }
}
