<ion-header>
  <ion-toolbar>
    <ion-title>deleteUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="documents-list-container">
    <ion-item *ngFor="let user of usersList" class="documents-list">
      <div class="list-item">
        <span class="document-name">{{user.name}}</span>
        <div class="documents-icon-wrapper">
          <button (click)="deleteUser('QnSWeySL5iaQHOIaW21o8FxOnc62')"><img
              src="../../../../../assets/img/users/delete.png"
              alt="Eliminar usuario" width="30px" class="documents-list-img"></button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
