<ion-header>
  <ion-toolbar class="documents-toolbar">
    <ion-title>Servicios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card class="customCard">
      <ion-card-header>
        <ion-card-title>Servicios contratados</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Consulta los servicios disponibles y cuáles están incluidos 
        en tu contrato con Cocoglobalmedia.
      </ion-card-content>
    </ion-card>

    <ion-card class="customCard" routerLink="/budget">
      <ion-card-header>
        <ion-card-title>Presupuesto</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Revisa tu contrato firmado con Cocoglobalmedia.
      </ion-card-content>
    </ion-card>

    <ion-card class="customCard">
      <ion-card-header>
        <ion-card-title>Contraseñas</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Accede a tus cuentas y contraseñas gestionadas por Cocoglobalmedia.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
