ion-content {
  --background: #fcfcfc;
  .container {
    height: 100%;
    .customCard {
      min-height: 20%;
      background: rgb(255, 255, 255);
      background: linear-gradient(180deg, #f5f3ff 0%, rgb(255, 255, 255) 100%);

      ion-card-title {
        color: #3c4ca0;
        font-weight: 400;
      }

      ion-card-content {
        color: #7381cb;
        font-weight: 300;
      }
    }
  }
}
