.container {
    --background: #FAFAFA;

    .inicio-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        gap: 6rem;

        .inicio-logo {
            display: flex;
            justify-content: center;

            img {
                max-height: 300px;
                width: auto;
            }
        }

        .inicio-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5em;
            width: 100%;

            .inicio-wrapper-pack{
              display: flex;
              gap: 2rem;

              .button-pack{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 16px;
                font-size: 1.3rem;
                background-color: white;
                color: #3C4CA0;
                width: 150px;
                height: 150px;
                font-family: "Dosis";
                font-weight: 700;
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                .logo.button{
                  width: 50px;
                  height: auto;
                }
                .inicio-buttons {
                    
                }
              }


            }

            .signOut-button {
                padding: 20px 10px;
                border-radius: 16px;
                font-size: 1.3rem;
                background-color: #ff0000;
                color: white;
                width: 90%;
                font-family: "Dosis";
                font-weight: 700;
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            }

            .inicio-buttons:hover {
                transition: box-shadow 1s;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
        }
    }
}