<ion-content class="container"  [fullscreen]="true">
  <section class="inicio-content">
    <div class="inicio-logo">
      <img src="{{logoUrl}}" alt="">
    </div>
    <div class="inicio-wrapper">
      <button class="inicio-buttons" routerLink="/servicios">Servicios</button>
      <button class="inicio-buttons" routerLink="/informes">Informes</button>
      <button class="inicio-buttons" routerLink="/documents">Documentos</button>
      <button class="inicio-buttons" routerLink="/notifications">Notificaciones</button>
      <button class="signOut-button" (click)="logout()">Cerrar sesión</button>
    </div>
  </section>
</ion-content>