<ion-content class="container"  [fullscreen]="true">
  <section class="inicio-content">
    <div class="inicio-logo">
      <img src="../../../assets/img/inicio/logo-coco-azul.svg" alt="">
    </div>
    <div class="inicio-wrapper">
      <button class="inicio-buttons">Documentos</button>
      <button class="inicio-buttons">Notificaciones</button>
      <button class="inicio-buttons">Formulario de satisfacción</button>
      <button class="signOut-button" (click)="logout()">Cerrar sesión</button>
    </div>
  </section>
</ion-content>
