ion-header {
  --background: #fafafa;
}

.container {
  --background: #fafafa;
  font-family: "Dosis";
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 2rem;
  color: #3a3a3a;

  .form-container {
    width: 90%;

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    ion-label {
        font-family: "Dosis"; 
      color: #3a3a3a;
    }

    ion-input:not([type="file"]) {
      border-bottom: 1px solid #9b9b9b;
      font-family: "Dosis"; 
    }

    .file-wrapper {
      display: flex;
      flex-direction: column;

      ion-label {
        font-size: 0.85rem;
        color: #3a3a3a;
        margin-bottom: 1rem;
      }

      ion-button {
        font-family: "Dosis";
      }

      .transparent {
        color: rgba(0, 0, 0, 0);
      }

      .visible {
        color: #3a3a3a;
      }
    }

    .error-message {
      font-size: 0.85rem;
      color: #ff3823;
      margin-bottom: 1rem;
      font-family: "Dosis"; 
    }

    .submit-content {
      width: 100%;
      margin: 0px;
      font-family: "Dosis"; 
    }
  }
}
