<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Anterior" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="container"  [fullscreen]="true">
  <section class="inicio-content">
    <div class="form-container">
      <form [formGroup]="createUserForm">
        <div class="form-container">
          <div class="form-input-container">
            <ion-input type="text" formControlName="name" label="Nombre:"></ion-input>
              <span *ngIf="createUserForm.controls['name'].invalid && (createUserForm.controls['name'].dirty || createUserForm.controls['name'].touched)" class="error-message">Introduce un nombre válido</span>
          </div>
          <div class="form-input-container">
            <ion-input type="email" formControlName="email" label="Email:"></ion-input>
            <span *ngIf="createUserForm.controls['email'].invalid && (createUserForm.controls['email'].dirty || createUserForm.controls['email'].touched)" class="error-message">Introduce un email válido</span>
          </div>
          <div class="form-input-container">
            <ion-input type="file" formControlName="logo" label="Logo:"></ion-input>
            <span *ngIf="createUserForm.controls['logo'].invalid && (createUserForm.controls['logo'].dirty || createUserForm.controls['logo'].touched)" class="error-message">Debes enviar una imagen</span>
          </div>
          <button class="inicio-buttons" (click)="submitUser()">Añadir</button>
        </div>
      </form>
    </div>
  </section>
</ion-content>