<ion-content>
  <div class="container">
    <div class="form-container">
      <img src="../../../assets/img/login/logo-coco.svg" alt="COCOGLOBALMEDIA" width="100%" />

      <form action="" method="post">
        <div class="login-form">
          <ion-input class="input-content" placeholder="Email"></ion-input>
          <ion-input class="input-content" placeholder="Password"></ion-input>
          <div class="input-wrapper">
            <ion-button class="submit-content" shape="round">CONTINUAR</ion-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>