<ion-header class="documents-header">
  <ion-toolbar class="documents-toolbar">
    <ion-title>Documentos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card class="customCard" *ngFor="let user of usersList" (click)="getUserDocs(user.email)">
      <ion-card-header>
        <ion-card-title>{{user.name}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
