.container {
  --background: #fafafa;
  font-family: "Dosis";
  height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
      text-decoration: none;
  }
}