<ion-header>
  <ion-toolbar class="documents-toolbar">
    <ion-title>Informes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card class="customCard">
      <ion-card-header>
        <ion-card-subtitle>Enero</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="customContent">
        <div class="content-item">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <span>Estadísiticas</span>
        </div>
        <div class="content-item" routerLink="/satisfaction-form">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>Formulario</span>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="customCard">
      <ion-card-header>
        <ion-card-subtitle>Febrero</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="customContent">
        <div class="content-item">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <span>Estadísiticas</span>
        </div>
        <div class="content-item">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>Formulario</span>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="customCard">
      <ion-card-header>
        <ion-card-subtitle>Marzo</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="customContent">
        <div class="content-item">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <span>Estadísiticas</span>
        </div>
        <div class="content-item">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>Formulario</span>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="customCard">
      <ion-card-header>
        <ion-card-subtitle>Abril</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="customContent">
        <div class="content-item">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <span>Estadísiticas</span>
        </div>
        <div class="content-item">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>Formulario</span>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="customCard">
      <ion-card-header>
        <ion-card-subtitle>Mayo</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="customContent">
        <div class="content-item">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <span>Estadísiticas</span>
        </div>
        <div class="content-item">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>Formulario</span>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="customCard">
      <ion-card-header>
        <ion-card-subtitle>Junio</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="customContent">
        <div class="content-item">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <span>Estadísiticas</span>
        </div>
        <div class="content-item">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>Formulario</span>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="customCard">
      <ion-card-header>
        <ion-card-subtitle>Julio</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="customContent">
        <div class="content-item">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <span>Estadísiticas</span>
        </div>
        <div class="content-item">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>Formulario</span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
