ion-content {
  --background: url("../../../assets/img/home/home-background.svg") 0 0/100% 100% no-repeat;
  .container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;

    .home-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }
}